<!DOCTYPE html>

<html>

<head>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>
		{{!-- <video controls loop>
			<source class="portrait" src="/img/veigar.mp4" type="video/mp4">
		</video> --}}
<body>
	<div class="main-content">
		{{>header}}
		<img class="portrait" src="/img/0.png">
	</div>


	{{>footer}}
</body>

</html>
